<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/91d36909a5.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>


          <div class="collpse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

            <li>
              <%= link_to user_path(current_user.id) do %>
              <i class="fas fa-home nav-link text-light">Home</i>
              <%end%>
            </li>

            <li>
              <a class="fas fa-users nav-link text-light" href="/users">Users</a>
            </li>

            <li>
              <a class="fas fa-book-open nav-link text-light" href="/books">Books</a>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt nav-link text-light">Log out</i>
              <%end%>
            </li>

            <% else %>
            <li>
              <a class="fas fa-home nav-link text-light" href="/">Home</a>
            </li>

            <li>
              <a class="fas fa-link nav-link text-light" href="/home/about">About</a>
            </li>

            <li>
              <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus nav-link text-light">Sign up</i>
              <%end%>
            </li>

            <li>
              <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt nav-link text-light">Log in</i>
              <%end%>
            </li>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>





    <%= yield %>
    <footer>
      <p>CopyRight Infratop.inc</p>

    </footer>
  </body>
</html>
