<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/91d36909a5.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="nav-box">
        <div class="flex">
          <a href="/">Bookers</a>


          <% if user_signed_in? %>
          <li>
            <a class="fas fa-home">
              <%= link_to 'Home',user_path(current_user.id) %>
            </a>
          </li>
          <li>
            <a class="fas fa-users">
              <%= link_to"Users",users_path, method: :get %>
            </a>
          </li>
          <li>
            <a class="fas fa-book-open">
              <%= link_to"Books",books_path, method: :get %>
            </a>
          </li>
          <li>
            <a class="fas fa-sign-out-alt">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </a>
          </li>

          <% else %>
          <li>
            <a class="fas fa-home" href="/">Home</a>

          </li>
          <li>
            <a class="fas fa-link">About</a>
          </li>
          <li>
            <a class="fas fa-user-plus">
              <%= link_to "Sign up", new_user_registration_path %>
            </a>
          </li>
          <li>
            <a class="fas fa-sign-out-alt">
              <%= link_to "Log in", new_user_session_path %>
            </a>
          </li>
        <% end %>


        </div>
      </nav>
    </header>





    <%= yield %>
    <footer>
      <p>CopyRight Infratop.inc</p>

    </footer>
  </body>
</html>
